#root {
  background-color: rgb(32, 31, 31);
}

.App {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 900px;
  border-radius: 25px;
}

.carrousel {
  cursor: grab;
  overflow: hidden;
}

.inner {
  display: flex;
  gap: 15px;
}

.item {
  min-height: 200px;
  min-width: 400px;
}

.item img {
  width: 100%;
  pointer-events: none;
  border-radius: 25px;
}